<div class="landing-form card">
  <img class="logo" src="assets/logo.png" alt="Logo" />
  <h2>Registrieren</h2>

  <form (ngSubmit)="doRegister()">
    <input [(ngModel)]="form.email" name="email" type="email" placeholder="Email" required>
    <input [(ngModel)]="form.password" name="password" type="password" placeholder="Passwort" required>
    <input [(ngModel)]="form.displayName" name="displayName" type="text" placeholder="Anzeigename" required>
    <input [(ngModel)]="form.phoneNumber" name="phoneNumber" type="tel" placeholder="Telefonnummer" required>
    
    <button type="submit" [disabled]="isLoading">
       {{ isLoading ? 'Registriere...' : 'Registrieren' }}
    </button>
  </form>

  <p class="auth-switch"><a routerLink="/login">Schon ein Konto? Zum Login</a></p>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>