<div class="tracker-container card">
  <h3>Neuen Konsum loggen</h3>

  <div class="selection">
    @for (item of products; track item.name) {
      <div (click)="selectProduct(item.name)" [class.selected]="selection.product === item.name">
        <img [src]="item.img" [alt]="item.name" />
        <p>{{ item.name }}</p>
      </div>
    }
  </div>

<div class="selection">
  @for (item of devices; track item.name) {
    <div (click)="selectDevice(item.name)" [class.selected]="selection.device === item.name">
      <img [src]="item.img" [alt]="item.name" />
      <p>{{ item.name }}</p>
    </div>
  }
</div>

  <button (click)="logConsumption()" [disabled]="!selection.product || !selection.device">
    Bestätigen & Standort loggen
  </button>
</div>

  <div class="ad-container card">
    <p>WERBUNG</p>
  </div>

<div class="map-container card">
  <h3>Event-Karte</h3>
  <!-- feste Höhe ist Pflicht -->
  <div id="map-container" style="height:420px;width:100%"></div>
</div>
