<mat-sidenav-container class="shell" autosize>
  <!-- SIDEBAR -->
  <mat-sidenav class="side" [class.collapsed]="collapsed" mode="side" [opened]="true">
    <div class="side-inner">
      <!-- Brand -->
      <div class="brand" [matTooltip]="collapsed ? 'Admin' : ''" matTooltipPosition="right">
        <mat-icon>admin_panel_settings</mat-icon>
        <span class="brand-text">Admin</span>
      </div>

            <div class="side-footer">
        @if (!collapsed) {
          <button mat-stroked-button class="collapse-btn" (click)="toggleCollapsed()">
            <mat-icon>chevron_left</mat-icon>
            <span>Menü einklappen</span>
          </button>
        } @else {
          <button mat-icon-button class="collapse-icon" (click)="toggleCollapsed()">
            <mat-icon>chevron_right</mat-icon>
          </button>
        }
      </div>

      <!-- Menu -->
      <div class="nav-scroll">
        <mat-nav-list class="menu">
          @for (item of nav; track item.label) {
            <a
              mat-list-item
              class="menu-item"
              [routerLink]="item.link"
              routerLinkActive="active"
              [matTooltip]="collapsed ? item.label : ''"
              matTooltipPosition="right"
            >
              <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>

              @if (!collapsed) {
                <span matListItemTitle>{{ item.label }}</span>
              }
            </a>
          }
        </mat-nav-list>
      </div>

    </div>
  </mat-sidenav>

  <!-- CONTENT -->
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
  
</mat-sidenav-container>
